.wrapper {
    width: 100%;
    max-width: 736px;
    margin: 0 auto 4rem auto;
    padding: 0 10px;

    display: flex;
    flex-wrap: wrap;
}

.formInsetTodo {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: calc(-54px / 2);
    margin-bottom: 64px;
}

.formInsetTodo > :is(input, button) {
    height: 100%;
}

.formInsetTodo button {
    padding: 0;
    margin: 0;

    background-color: var(--blue-500);
    color: var(--gray-100);
    font-weight: bold;

    padding: 0 1.125rem;
    border: 0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: background .1s, filter .2s;
}

.formInsetTodo button svg {
    color: var(--gray-100);
    font-weight: bold;
}

.formInsetTodo button:not(:disabled):hover {
    background: var(--blue-300);
}

.formInsetTodo button:disabled {
    filter: saturate(.3);
}

.formInsetTodo input {
    flex: 1;
    border: none;
    border-radius: 8px;
    outline: 1px solid var(--gray-700);
    padding: 16px;

    background-color: var(--gray-500);
    color: var(--gray-100);
    line-height: 22.4;
}

.formInsetTodo input:focus-visible {
    border: none;
    outline: 1px solid var(--purple-500);
}

/* -------------------------- */

.tasks .header .title {
    display: flex;
    gap: 8px;

    font-size: var(--fs-14);
    font-weight: 700;
    color: var(--blue-300);
}

.tasks .header .title.purple {
    color: var(--purple-300);
}

.tasks .header .title .tasksCounter {
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    font-size: var(--fs-12);
    color: var(--gray-200);

    border-radius: 999px;
}

.tasks {
    width: 100%;
}

.tasks .header {
    display: flex;
    flex: 1;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.tasksWrapper {
    display: flex;
    flex-direction: column;
}